@font-face {
  font-family: Tomorrow-medium;
  src: url("/resources/fonts/Tomorrow/Tomorrow-Medium.ttf");
}

@font-face {
  font-family: Tomorrow-light;
  src: url("/resources/fonts/Tomorrow/Tomorrow-light.ttf");
}

body {
  margin: 0;
  padding: 0;
}

.view-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("/resources/images/background2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

header {
  display: flex;
  width: 100%;
}

.landing-logo {
  margin: 5% 0% 0% 5%;
  height: 137px;
  width: 167px;
  filter: drop-shadow(5px 5px 4px rgb(171, 27, 211));
}

.landing-title {
  width: 313px;
  /* height: 87px; */
  font-family: Tomorrow-medium;
  font-size: 40px;
  line-height: 58px;
  color: white;
  text-shadow: 3px 3px 2px rgb(171, 27, 211);
  margin: 7% 0% 0% 5%;
}

.landing-subtitle {
  width: 325px;
  /* height: 79px; */
  font-family: Tomorrow-medium;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-shadow: 2px 2px 1px rgb(171, 27, 211);
  margin: 0% 0% 0% 5%;
}

.login-container,
.register-container {
  grid-column: 4/6;
  grid-row: 1/6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}

.login-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20%;
}

.login-title {
  height: 44px;
  justify-self: center;
  font-family: Tomorrow-light;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  margin-top: -5%;
}

.user-input,
.user-password,
.user-name {
  font-family: Tomorrow-light;
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
  background: #f8f0fc;
  margin: 1%;
  margin-bottom: 3%;
  font-size: 16px;
}

.user-input::placeholder,
.user-password::placeholder,
.user-name::placeholder {
  font-size: 16px;
  text-align: center;
}

.login,
.login-btn,
.register-btn,
.register-btn-inner {
  width: 172px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: rgb(167, 50, 217);
  color: #ffffff;
  font-family: Tomorrow-medium;
}

.login-btn:hover,
.register-btn:hover,
.register-btn-inner:hover,
.login:hover,
.post-btn:hover {
  background-color: rgb(211, 99, 242);
  box-shadow: 0 0 10px rgb(211, 99, 242);
}
.login-container-register {
  margin-top: -5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container {
  margin-top: -5%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.register-btn {
  margin-left: 6%;
}

.hr-container {
  width: 87%;
  display: flex;
  flex-direction: row;
  margin: 1%;
}

.hr-login-left,
.hr-login-right {
  background-color: rgb(167, 50, 217);
  box-shadow: 0 0 10px rgb(211, 99, 242);
  border: none;
  width: 100%;
  height: 1.5px;
  margin: 4%;
}

.hr-login-center {
  background-color: rgb(167, 50, 217);
  box-shadow: 0 0 7px rgb(211, 99, 242);
  border: none;
  width: 80%;
  height: 1.7px;
  margin: 4%;
}

.hr-or {
  font-family: Tomorrow-light;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  margin: 2% 0% 1% 0%;
  padding: 2px;
}

.logo-google-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 5px;
}

.google-logo {
  cursor: pointer;
  width: 30px;
  height: 29px;
}

.tittle-login,
.google-title,
.register-title {
  line-height: 22px;
  height: 22px;
  font-family: Tomorrow-light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  /* margin-left: 1%; */
}

.google-title {
  background: none;
  border: none;
}

.google-title:hover {
  color: rgb(167, 50, 217);
  text-shadow: 0 0 7px rgb(167, 50, 217);
}

.google-title:hover {
  cursor: pointer;
}


/*----------------MURO------------------*/

.wall-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 5% 20% 20% 20% 5%;
  grid-template-rows: 10% 20% 20% 20% 20% 5% 5%;
  background-image: url("/resources/images/background4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.wall-header {
  grid-column: 1/7;
  grid-row: 1/1;
  height: 100%;
  width: 100%;
  /* margin-bottom: 10%; */
  display: flex;
  background-color: rgba(20, 16, 42, 0.8);
  align-items: center;
}

.wall-title {
  width: 100%;
  font-size: 45px;
  color: white;
  font-family: Tomorrow-medium;
  margin: 1% 0% 0% 0.5%;
}

.logo-container {
  display: flex;
  width: 100%;
  height: 64px;
  margin: 0%;
  margin-left: 3%;
}

.landing-wall-logo {
  width: 100px;
  height: 120%;
  /* width: 100%;
  height: 100%; */
  /* filter: drop-shadow(5px 5px 4px rgb(171, 27, 211)); */
}

.user-icon,
.logout-icon {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0% 5% 0% 2%;
  cursor: pointer;
}

.trash-icon,
.edit-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.textarea-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-btn {
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: rgb(81, 39, 140);
  color: #ffffff;
  font-family: Tomorrow-medium;
  /* border-radius: 5px; */
}
.post-container {
  grid-column: 2/6;
  grid-row: 2/7;
  height: 30vh;
  /* background-color: rgb(54, 49, 89, 0.8); */
  /* margin-top: 3%; */
  margin-top: 6%;
  border-radius: 5px;
}

.post-container-user {
  overflow-y: scroll;
  /* overflow-x: hidden; */
  grid-column: 2/6;
  grid-row: 3/7;
  height: 95vh;
  margin-top: 15%;
  border-radius: 5px;
  border: hotpink;
}

.post,
.post-user {
  background-color: rgb(54, 49, 89, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.icons-container {
  display: flex;
  width: 100%;
  margin: 1%;
  justify-content: space-between;
}

.like-container {
  margin-left: 2%;
  cursor: pointer;
}

.trash-container {
  margin-left: 82%;
  cursor: pointer;
}

.edit-container {
  margin-right: 2%;
  align-self: self-end;
  cursor: pointer;
}

.icon-wall-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50%;
}

.post-theme,
.post-message {
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0 0 10px rgb(239, 213, 246); */
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  margin: 2%;
  border-radius: 3px;
  font-size: 20px;
}
.profile-container {
  display: flex;
  width: 100%;
  margin: 2% 0% 0% 2%;
}

.pic-profile {
  width: 40px;
  height: 40px;
}

.title-profile {
  font-family: Tomorrow-medium;
  font-weight: normal;
  font-size: 25px;
  color: #ffffff;
  margin: 0%;
  margin-left: 2%;
}

.wall-links {
  display: grid;
  /* flex-direction: column; */
  grid-row: 2/8;
  grid-column: 1/1;
  background-color: rgba(20, 16, 42, 0.8);
  align-items: center;
  justify-items: center;
  margin-bottom: 30%;
  height: 94.5%;
  width: 65%;
}

.wall-links-title {
  font-family: Tomorrow-medium;
  font-weight: normal;
  font-size: 20px;
  color: white;
  text-align: center;
}

.image-links {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(20, 16, 42);
  margin-bottom: 5%;
}

.footer-mobile {
  display: none;
}

.footer-desktop {
  display: grid;
  grid-column: 1/7;
  grid-row: 7/7;
  background-color: rgba(20, 16, 42, 0.8);
  /* display: flex; */
  justify-content: center;
  font-family: Tomorrow-light;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
/* .logo-mobile, .logo-container-mobile{
  display: none;
} */
  

/* ------------------mobile --------------------*/
@media screen and (min-width: 320px) and (max-width: 488px) {
/*-----------Inicio y registro-------------*/
  .logo-container, .landing-title, .landing-subtitle{
  display: none;
  }

  .view-container { 
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows:  20% 20% 20% 20% 20%; 
  }

  .login-container,
  .register-container {
    grid-column: 1/7;
    grid-row: 1/7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
  }


  /*-------------Muro----------------*/
  .wall-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:  10% 20% 20% 20% 20% 10%;
    grid-template-rows: 10% 20% 20% 20% 20% 10%;
    /* min-height: 100vh; */
    grid-template-areas: "footer footer footer footer footer"
  }

  .logo-container, .wall-links, .footer-desktop, .wall-title {
    display: none;
  }

  .logo-container-mobile{
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
  }

  .logo-mobile {
    display: block;
    width: 25%;
    height: 100%;
  }

  .post-theme{
    width: 100%;
    margin: 2%;
    border-radius: 3px;
    font-size: 15px;
  }

  .post-message{
    font-size: 15px;
    height: 50px;
  }

  .title-profile {
    font-size: 14px;
  }
  
  .post-container{
    grid-column: 1/7;
    grid-row: 2/7;
    /* margin-bottom: 20%; */
  }

  .post-container-user {
    grid-column: 1/7;
    grid-row: 3/5;
    height: 40vh;
    margin-top: 25%;
  }
  .wall-header{
    width: 100%;
  }

  .user-icon,
  .logout-icon {
  display: flex;
  width: 10%;
  height: 25px;
  margin: 0% 5% 0% 2%;
  cursor: pointer;
  }

  .icons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0%;
  }

  .like-container {
    width: 80%;
    margin-left: 5%;
  }

  .trash-container,.edit-container{
    width: 10%;
    margin-left: 5%;
  }

  .post-btn{
    height: 30px;
  }

  .footer-desktop{
    display:none;
  }
  
  .footer-mobile {
    grid-column: 1/7;
    grid-row: 6/6;
    display: grid;
    background-color: rgba(20, 16, 42, 0.8);
    width: 100%;
  }

  .footer-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: rgb(92, 43, 138);
}
.post-container-user::-webkit-scrollbar-track {
  background: rgb(92, 43, 138);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: darkorchid;
  border-radius: 50px;
}
