@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

*{
    box-sizing: border-box;
    color: #292B36;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #292B36;
    height: 100vh;
}

.logo-container{
    display: flex;
    justify-content: center;
    margin: 2% 0% 5% 0%;
    width: 100%;
}

.logo-coders{
    height: 4em;
    width: 4em;
}

input, button {
    border: none;
    margin: 2%;
    text-align: center;
}

.input-box{
    padding: 2%;
    width: 15em;
}

.view-button{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    padding: 2%;
    width: 15em;
}

.login-btn, .view-button{
    background-color:#FAC710;
}

.create-account-link{
    margin-top: 7%;
}

.view-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.coders-title{
    color: #FAC710; 
    font-family: titan one;
    font-size: 3rem;
    letter-spacing: 1.5px;
}

.google-logo{
    align-self: center;
    margin-right: 7%;
}

.timeline {
    display: flex;
    align-items: center;
    background-image: url("/images/post-background.png");
    flex-direction: column;
    height: 92vh;
}
.header-timeline {
    display: flex;
    align-items: center;
    background-color: #292B36;
    height: 50%;
    justify-content: center;
    width: 100%;
}
.header-timeline h1{
    color: #FAC710;
    font-family: titan one;
    font-size: 25px;
}
.create-post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
/* .create-post-container.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/post-background.png");
} */
.create-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    line-height: 0;
    /* position: relative;
    top: -50px; */
    width: 100%;
}
/* .create-post.active {
    display: flex;
    align-items: center;
    background-image: url("/images/post-background.png");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    flex-direction: column;
    justify-content: center;
    height: 80%;
} */
.post-button{
    align-self: flex-end;
    background-color: #292B36;
    color: #FAC710;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    padding: 2% 0% 2% 0%; 
    width: 40%;
}
.create-post textarea{
    border: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
    outline: none;
    resize: none;
    width: 100%;
}
#textarea-description, #textarea-title, #textarea-links{
    border: 2px solid #292B36;
    box-shadow:2px 2px #c0bdbd;
    font-size: 14px;
    height: 8%;
    padding: 2%;
    text-align: center;
    width:90%;
}
#textarea-description {
    height: 40%;
}
.post-wall{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("/images/post-background.png");
    height: 85vh;
    width: 100%;
}

.container-post{
    display: flex;
    align-items: center; 
    flex-direction: column;
    height: auto;
    width: 90%;
}
.header-post{
    background-color: #292B36;
    border-radius: 5px 5px 0px 0px;
    color:#FAC710;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 1,75em;
    padding: 2%;
    width: 100%;
}
.post-content{
    background: white;
    color: #292B36;
    border: 1px solid #292B36;
    padding: 4%;
    width: 100%;
}
.reference-link{
    background: white;
    border: 1px solid #292B36;
    border-radius: 0px 0px 5px 5px;
    height: 2em;
    width: 100%;
}
.post-button-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.post-here {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FAC710;
    height: 40%;
    width: 100%;
}
.post-here-button {
    background-color: #FAC710;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    text-align: center; 
    width: 40%;
}
.main-container {
    height: 100vh;
}
.container-logout {
    height: 15vh;
}
.post-here-container .post-here-button{
    cursor: pointer;
    transition: all .2s ease;
    width: 40%;  
}
.post-here-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5%;
    margin-top: 5%;
    width: 100%;
    position: relative;
}


